@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");
* {
  font-family: "Google Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: rgb(223, 0, 130);
}

.nozomi-logo {
  width: 260px;
}

section {
  padding: 5rem 10%;
}

.heading-link {
  text-align: center;
  background: url(../images/1408.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.heading-link h3 {
  font-size: 4rem;
  text-transform: capitalize;
  color: #444;
}
.heading-link p {
  font-size: 2rem;
  line-height: 2;
  color: #777;
}
.heading-link p a {
  color: rgb(223, 0, 130);
}
.heading-link p a:hover {
  text-decoration: underline;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  text-transform: capitalize;
  color: #444;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  border: 0.1rem solid rgb(223, 0, 130);
  background: #fff1fb;
  color: rgb(223, 0, 130);
  cursor: pointer;
  text-transform: capitalize;
}
.btn:hover {
  background: rgb(223, 0, 130);
  color: #fff;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 10%;
  display: flex;
  align-items: center;
  z-index: 1000;
}
.header .logo {
  margin-right: auto;
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #444;
  font-weight: bolder;
}
.header .logo img {
  width: 260px;
}
.header .logo .logo-text {
  color: rgb(223, 0, 130);
  margin-left: 10px;
}
.header .navbar {
  position: relative;
}
.header .navbar #close-navbar {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  color: #444;
  display: none;
}
.header .navbar #close-navbar:hover {
  transform: rotate(90deg);
}
.header .navbar a {
  margin-right: 2rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}
.header .navbar a:hover {
  color: rgb(223, 0, 130);
}
.header .icons div {
  cursor: pointer;
  font-size: 2.5rem;
  color: #444;
  margin-left: 1.5rem;
}
.header .icons div:hover {
  color: rgb(223, 0, 130);
}
.header #menu-btn {
  display: none;
}

.account-form {
  position: fixed;
  top: 0;
  right: -105%;
  width: 35rem;
  background: #fff;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  justify-content: center;
  height: 100%;
  z-index: 1200;
  padding: 2rem;
  text-align: center;
}
.account-form.active {
  right: 0;
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
}
.account-form #close-form {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 4rem;
  cursor: pointer;
  color: #444;
}
.account-form #close-form:hover {
  transform: rotate(90deg);
}
.account-form form {
  border: 0.1rem solid rgb(223, 0, 130);
  padding: 2rem;
  display: none;
}
.account-form form.active {
  display: block;
}
.account-form form h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #444;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}
.account-form form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border: 0.1rem solid rgb(223, 0, 130);
  font-size: 1.6rem;
  margin: 0.7rem 0;
}
.account-form form .flex {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.account-form form .flex label {
  font-size: 1.5rem;
  color: #777;
  cursor: pointer;
}
.account-form form .flex a {
  font-size: 1.5rem;
  color: #777;
  margin-left: auto;
}
.account-form form .flex a:hover {
  text-decoration: underline;
  color: rgb(223, 0, 130);
}
.account-form form .btn {
  width: 100%;
}
.account-form .buttons .btn {
  margin: 0 0.5rem;
}
.account-form .buttons .btn.active {
  background: rgb(223, 0, 130);
  color: #fff;
}

.home {
  padding: 0;
}
.home .slide {
  display: flex;
  align-items: center;
  height: 60rem;
  background-size: cover !important;
  background-position: center !important;
}
.home .slide .content {
  width: 50rem;
}
.home .slide .content h3 {
  font-size: 5rem;
  text-transform: capitalize;
  color: #444;
  color: #fff;
}
.home .slide .content p {
  font-size: 1.6rem;
  line-height: 2;
  color: #777;
  color: #eee;
  padding: 1rem 0;
}

.swiper-pagination-bullet-active {
  background: rgb(223, 0, 130);
}

.subjects .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}
.subjects .box-container .box {
  padding: 3rem 2rem;
  text-align: center;
  border: 0.1rem solid rgb(223, 0, 130);
  background: #fff1fb;
  cursor: pointer;
}
.subjects .box-container .box:hover {
  background: rgb(223, 0, 130);
}
.subjects .box-container .box:hover h3 {
  color: #fff;
}
.subjects .box-container .box:hover p {
  color: #eee;
}
.subjects .box-container .box img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin-bottom: 0.7rem;
}
.subjects .box-container .box h3 {
  font-size: 1.7rem;
  text-transform: capitalize;
  color: #444;
  padding: 2rem 0;
}
.subjects .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}

.home-courses .slide {
  text-align: center;
  position: relative;
  background: #fff1fb;
  overflow: hidden;
  border: 0.1rem solid rgb(223, 0, 130);
}
.home-courses .slide:hover .content {
  bottom: 0;
}
.home-courses .slide .image {
  padding: 2rem;
}
.home-courses .slide .image img {
  width: 100%;
  margin-bottom: 1.5rem;
}
.home-courses .slide .image h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}
.home-courses .slide .content {
  position: absolute;
  bottom: -100%;
  right: 0;
  left: 0;
  background: rgb(223, 0, 130);
  padding: 2rem 3rem;
}
.home-courses .slide .content h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  color: #fff;
}
.home-courses .slide .content p {
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  color: #eee;
}
.home-courses .slide .content .btn:hover {
  background: #444;
}

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.about .image {
  flex: 1 1 40rem;
}
.about .image img {
  width: 100%;
}
.about .content {
  flex: 1 1 40rem;
}
.about .content .about-title {
  font-size: 3rem;
  text-transform: capitalize;
  color: #444;
}
.about .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  padding: 1rem 0;
}
.about .content .icons-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}
.about .content .icons-container .icons {
  text-align: center;
  padding: 3rem 2rem;
  border: 0.1rem solid rgb(223, 0, 130);
  background: #fff1fb;
}
.about .content .icons-container .icons img {
  height: 5rem;
  margin-bottom: 0.7rem;
}
.about .content .icons-container .icons h3 {
  padding: 0.5rem 0;
  font-size: 3rem;
  text-transform: capitalize;
  color: #444;
}
.about .content .icons-container .icons span {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}

.teachers .slide {
  text-align: center;
}
.teachers .slide:hover .image img {
  background: rgb(223, 0, 130);
}
.teachers .slide:hover .image .share {
  bottom: 0;
}
.teachers .slide .image {
  position: relative;
  overflow: hidden;
}
.teachers .slide .image img {
  background: #fff1fb;
  width: 100%;
}
.teachers .slide .image .share {
  position: absolute;
  bottom: -10rem;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 2rem;
}
.teachers .slide .image .share a {
  font-size: 3rem;
  margin: 0 1rem;
  color: #fff;
}
.teachers .slide .image .share a:hover {
  color: rgb(223, 0, 130);
}
.teachers .slide .content {
  display: flex;
  padding-top: 1rem;
  align-items: center;
  justify-content: space-between;
}
.teachers .slide .content h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}
.teachers .slide .content span {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}

.reviews .slide {
  text-align: center;
}
.reviews .slide p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  position: relative;
  background: #fff1fb;
  border: 0.1rem solid rgb(223, 0, 130);
  margin-bottom: 3rem;
  padding: 2rem;
}
.reviews .slide p::before {
  content: "";
  position: absolute;
  bottom: -1.2rem;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  background: #fff1fb;
  border-bottom: 0.1rem solid rgb(223, 0, 130);
  border-right: 0.1rem solid rgb(223, 0, 130);
  height: 2rem;
  width: 2rem;
}
.reviews .slide img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}
.reviews .slide h3 {
  font-size: 2.2rem;
  text-transform: capitalize;
  color: #444;
  padding: 0.5rem 0;
}
.reviews .slide .stars {
  font-size: 1.2rem;
  color: rgb(223, 0, 130);
}

.gallery .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 2rem;
}
.gallery .box-container .box:hover .image img {
  transform: scale(1.1);
}
.gallery .box-container .box.hide {
  display: none;
}
.gallery .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  position: relative;
}
.gallery .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery .box-container .box .image h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #444;
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.5rem 1.5rem;
  background: #fff;
}
.gallery .load-more-sport {
  margin-top: 2rem;
  text-align: center;
}
.gallery .load-more-activity {
  margin-top: 2rem;
  text-align: center;
}
.gallery .load-more-concert {
  margin-top: 2rem;
  text-align: center;
}

.contact .icons-container {
  margin-bottom: 8rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}
.contact .icons-container .icons {
  text-align: center;
  padding: 3rem 2rem;
  border: 0.1rem solid rgb(223, 0, 130);
  background: #fff1fb;
}
.contact .icons-container .icons i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  font-size: 2rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  color: #fff;
  background: rgb(223, 0, 130);
}
.contact .icons-container .icons h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  padding: 0.5rem 0;
}
.contact .icons-container .icons p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}
.contact .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0rem;
}
.contact .row .image {
  flex: 1 1 12rem;
}
.contact .row .image img {
  width: 100%;
}
.contact .row form {
  flex: 1 1 40rem;
  border: 0.1rem solid rgb(223, 0, 130);
  padding: 2rem;
}
.contact .row form h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #444;
  padding-bottom: 1rem;
}
.contact .row form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border: 0.1rem solid rgb(223, 0, 130);
  font-size: 1.6rem;
  margin: 0.7rem 0;
}
.contact .row form .box:focus {
  background: rgb(223, 0, 130);
  color: #fff;
}
.contact .row form .box:focus::-moz-placeholder {
  color: #eee;
}
.contact .row form .box:focus::placeholder {
  color: #eee;
}
.contact .row form textarea {
  height: 15rem;
  resize: none;
}

.faq .accordion-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: flex-start;
}
.faq .accordion-container .accordion {
  flex: 1 1 40rem;
  border: 0.1rem solid rgb(223, 0, 130);
}
.faq .accordion-container .accordion.active .accordion-heading {
  background: rgb(223, 0, 130);
}
.faq .accordion-container .accordion.active .accordion-heading h3 {
  color: #fff;
}
.faq .accordion-container .accordion.active .accordion-heading i {
  color: #fff;
  transform: rotate(180deg);
}
.faq .accordion-container .accordion.active .accordion-content {
  display: block;
}
.faq .accordion-container .accordion .accordion-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  cursor: pointer;
  padding: 1.5rem;
}
.faq .accordion-container .accordion .accordion-heading h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}
.faq .accordion-container .accordion .accordion-heading i {
  font-size: 2rem;
  color: rgb(223, 0, 130);
}
.faq .accordion-container .accordion .accordion-content {
  padding: 1.5rem;
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  border-top: 0.1rem solid rgb(223, 0, 130);
  display: none;
}

.logo-container {
  text-align: center;
}
.logo-container .srilanka-flag {
  height: 10rem;
}
.logo-container .japan-flag {
  height: 10rem;
}
.logo-container .nozomi-logo {
  padding-top: 2.5rem;
}
.logo-container img {
  pointer-events: none;
}

.footer {
  background: #fff1fb;
}
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}
.footer .box-container .box h3 {
  font-size: 2.2rem;
  text-transform: capitalize;
  color: #444;
  padding: 1rem 0;
}
.footer .box-container .box h3 i {
  color: rgb(223, 0, 130);
}
.footer .box-container .box .share {
  margin-top: 1rem;
}
.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  background-color: rgb(223, 0, 130);
  color: #fff;
  margin-right: 0.3rem;
  text-align: center;
}
.footer .box-container .box .share a:hover {
  background-color: #444;
}
.footer .box-container .box .link {
  font-size: 1.7rem;
  line-height: 2;
  color: #777;
  padding: 0.5rem 0;
  display: block;
}
.footer .box-container .box .link:hover {
  color: rgb(223, 0, 130);
  text-decoration: underline;
}
.footer .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  padding: 1rem 0;
}
.footer .box-container .box .email {
  width: 100%;
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  border: 0.1rem solid rgb(223, 0, 130);
  margin-bottom: 1rem;
}
.footer .credit {
  text-align: center;
  margin-top: 3rem;
  padding-top: 3rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  border-top: 0.1rem solid rgb(223, 0, 130);
}
.footer .credit span {
  color: rgb(223, 0, 130);
}

@media (max-width: 1200px) {
  .header {
    padding: 2rem 5;
  }
  section {
    padding: 3rem 5%;
  }
  .nozomi-logo {
    width: 25rem;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
  .nozomi-logo {
    width: 25rem;
  }
}
@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: fixed;
    top: 0;
    right: -105%;
    width: 30rem;
    background: #fff;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    z-index: 1200;
  }
  .header .navbar #close-navbar {
    display: block;
  }
  .header .navbar.active {
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
    right: 0;
  }
  .header .navbar a {
    display: block;
    margin: 1rem 0;
    text-align: center;
    font-size: 3rem;
  }
  .home .slide .content h3 {
    font-size: 3rem;
  }
  .nozomi-logo {
    width: 25rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 3rem;
  }
  .about .content .about-title {
    font-size: 4rem;
  }
  .nozomi-logo {
    width: 25rem;
  }
}/*# sourceMappingURL=style.css.map */