@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

*{
    font-family: "Google Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}
$pink: rgb(255, 0, 149);
$light-green: #fff1fb;
$light-color: #777;
$light-white: #eee;
$black:#444;
$white:#fff;
$border:.1rem solid $pink;
$box-shadow:0 .5rem 1rem rgba(0,0,0,.1);


@mixin grid($val){
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 2rem
}

@mixin titleText($titleSize){
    font-size: $titleSize;
    text-transform: capitalize;
    color: $black;
}

@mixin graphText($graphSize){
    font-size: $graphSize;
    line-height: 2;
    color: $light-color;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;

    &::-webkit-scrollbar{
        width: 1rem;
    }

    &::-webkit-scrollbar-track{
        background: transparent;

    }
    &::-webkit-scrollbar-thumb{
        background: $pink;

    }
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    border: $border;
    background: $light-green;
    color: $pink;
    cursor: pointer;
    text-transform: capitalize;

    &:hover{
        background: $pink;
        color: $white;
    }
}

.header{
    position: sticky;
    top: 0; left: 0; right: 0;
    background: $white;
    box-shadow: $box-shadow;
    padding: 2rem 10%;
    display: flex;
    align-items: center;
    z-index: 1000;

    .logo{
        margin-right: auto;
        

        @include titleText(2.5rem);
        font-weight: bolder;

        img{
            width: 260px;
        
        }
        .logo-text{
            color: $pink;
            margin-left: 10px;
        }
    

        
    }
    
    .navbar {

        position: relative;

        #close-navbar{
            position: absolute;
            top: 1.5rem; right: 2rem;
            font-size: 4rem;
            cursor: pointer;
            color: $black;
            display: none;

            &:hover{
                transform: rotate(90deg);
            }
        }
        a{
            margin-right: 2rem;
            @include titleText(2rem);

            &:hover{
                color: $pink;
            } 
        }
    }

    .icons div{
        cursor: pointer;
        font-size: 2.5rem;
        color: $black;
        margin-left: 1.5rem;
    
        &:hover{
            color: $pink;
        }
    }

    #menu-btn{
        display: none; 
    }
    
}

.account-form{
    position: fixed;
    top: 0; right: -105%;
    width: 35rem;
    background: $white;
    display: flex;
    flex-flow: column;
    gap: 2rem;
    justify-content: center;
    height: 100%;

    z-index: 1200;
    padding: 2rem;
    text-align: center;

    &.active{
        right: 0;
        box-shadow: 0 0 0 100vw rgba(0,0,0,.5);
    }

    #close-form{
        position: absolute;
        top: 1.5rem; right: 2.5rem;
        font-size: 4rem;
        cursor: pointer;
        color: $black;
        

        &:hover{
            transform: rotate(90deg);
        }
    }

    form{
        border: $border;
        padding: 2rem;
        display: none;

        &.active{
            display: block;
        }

        h3{
            @include titleText(2.5rem);
            padding-bottom: .5rem;
            text-transform: uppercase;

        }

        .box{
            width: 100%;
            padding: 1.2rem 1.4rem;
            border: $border;
            font-size: 1.6rem;
            margin: .7rem 0;
        }

        .flex{
            padding: 1rem 0;
            display: flex;
            align-items: center;
            gap: .5rem;

            label{
                font-size: 1.5rem;
                color: $light-color;
                cursor: pointer;
            }

            a{
                font-size: 1.5rem;
                color: $light-color;
                margin-left: auto;

                &:hover{
                    text-decoration: underline;
                    color: $pink;
                }
            }
        }

        .btn{
            width: 100%;
        }
    }

    .buttons .btn{
        margin: 0 .5rem;

        &.active{
            background: $pink;
            color: $white;
        }
    }


}


















































// media

@media (max-width:1200px){
    .header{
        padding: 2rem 5;
    }
}

@media (max-width:991px){
    html{
        font-size: 55%;
    }
    
    .header{
        padding: 2rem;
    }
}

@media (max-width:768px){
    .header{
        #menu-btn{
            display: inline-block;
        }
        .navbar{
            position: fixed;
            top: 0; right: -105%;
            width: 30rem;
            background: $white;
            
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            z-index: 1200;

            #close-navbar{
                display: block;
            }

            &.active{
                box-shadow: 0 0 0 100vw rgba(0,0,0,0.5);
                right: 0;
            }

            a{
                display: block;
                margin: 1rem 0;
                text-align: center;
                font-size: 3rem;
            }
        }
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
}